<% provide(:page_title, @post.baslik) %>
<% provide(:blog_active, 'active') %>
<div id="post-header" class="page-header">
				<div class="background-img" style="background-image: url('../assets/post-page.jpg');"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<div class="post-meta">
							    <%= raw @post.tags.map{ |t| link_to t.name, posts_path(tag: t.name), class:"post-category cat-2" }.join(', ') %>
								<span class="post-date"><%= @post.display_day_published %></span>
							</div>
							<h1>  <%= @post.baslik %></h1>
						</div>
					</div>
				</div>
			</div>
<div class="container">
	<div class="row">
					<!-- Post content -->
					<div style="height:40px; width:100%"></div>
					<div class="col-md-12">
				    		<div class="section-row sticky-container">
							<div class="main-post">
								<h3>  <%= @post.baslik %></h3>
							    <p> <%= @post.display_day_published %></p>
							    <center><%= image_tag @post.resim.url(:medium) if @post.resim? %></center>
								<p> <%= @post.icerik.html_safe %></p>
							<div class="author-bio">
							    <h4><%= @post.author.name %></h4>
							    <h5 class="bio"><%= @post.author.bio %></h5>
							</div>
							<div id="disqus_thread">
							     <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
							</div>
						</div>

						<!-- ad -->
						<div class="section-row text-center">
							<a href="#" style="display: inline-block;margin: auto;">
								<img class="img-responsive" src="" alt="">
							</a>
						</div>
						<!-- ad -->
						
						<!-- author -->
						<!-- /author -->

						<!-- comments -->
						<!-- /comments -->

						<!-- reply -->
						<!-- /reply -->
					</div>
					<!-- /Post content -->

				</div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
               var disqus_config = function () {
                    this.page.url = '<%= request.original_url %>';  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = '<%= @post.slug %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                
                /*
                
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://neslihanin-blogu.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
    </div>
</div>
           
                            


