<% provide(:hakkimda_active, 'active') %>
<div class="page-header">
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<ul class="page-header-breadcrumb">
								<li><%= link_to t('anasayfa'), root_path, class: "#{yield(:blog_active)}" %></li>
								<li><%= t('hakkimda') %></li>
							</ul>
							<h1><%= t('hakkimda') %></h1>
						</div>
					</div>
				</div>
			</div>


<p></p>
<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="section-row">
							<p><%= t('hakkimdaYazi') %></p>
					
						</div>
						<div class="row section-row">
							<div class="col-md-6">
								<figure class="figure-img">
									<img class="img-responsive" src="../assets/about-2.jpg" alt="">
								</figure>
							</div>
							<div class="col-md-6">
								<h3><%= t('projelerim') %></h3>
			
								<ul class="list-style">
									<li><h4><%= t('projebbaslik') %></h4><p><%= t('projebicerik') %> <a href="https://github.com/NeslihanKolukisa/AndroidProject" target="_blank"><%= t('detaylink') %> </a></p> </li>
									<li><h4><%= t('projeibaslik') %></h4><p><%= t('projeiicerik') %> <a href="http://ekitaplik.somee.com/" target="_blank"><%= t('detaylink') %> </a></p></li>
									<li><h4><%= t('projeubaslik') %></h4><p><%= t('projeuicerik') %> <a href="https://youtu.be/LgsozZFDpjE" target="_blank"><%= t('detaylink') %> </a></p></li>
									<li><h4><%= t('projedbaslik') %></h4><p><%= t('projedicerik') %> <a href="https://youtu.be/2mS9ghA55sQ" target="_blank"><%= t('detaylink') %> </a></p></li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
				<!-- /row -->
			</div>