<%= form_with(model: post, url: url, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
    <div class="col-md-4">
        <div class="card">
          <div class="card-body">
              <% if @post.new_record? %>
                <h5 class="card-title">Yeni yazı</h5>
              <% else %>
              <h5 class="card-title">
                  <b>Düzenle</b>
                  <span class="thin-text"> <%= @post.baslik %></span>
              </h5>

              <% end %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="field">
                <%= form.label :baslik %><br>
                <%= form.text_field :baslik, class:'form-control' %>
              </div>
            </li>
            <li class="list-group-item">
                   <div class="field">
                    <%= form.label :aciklama %><br>
                    <%= form.text_area :aciklama, class:'form-control' %>
                  </div>
            </li>
             <li class="list-group-item">
                   <div class="field">
                    <%= form.label 'Etiketler' %><br>
                    <%= form.text_area :tag_list, class:'form-control' %>
                  </div>
            </li>
             <li class="list-group-item">
                 <div class="field">
                <%= form.label :'Resim' %><br>
                <%= form.file_field :resim,  class:'form-control' %>
              </div>
            </li>

            <li class="list-group-item">
                    <div class="actions">
                    <%= form.submit "Kaydet", class:'btn btn-success btn-block' %>
                  </div>
            </li>
          </ul>
        </div>
        <% if @post.persisted? %>
            <%= link_to 'Show', @post %> |
        <% end %>
    </div>
    
    <div class="col-md-8">
          <div class="field">
    <%= form.text_area :icerik %>
  </div>
    </div>
</div>
<% end %>
