<header id="header">
			<!-- Nav -->
			<div id="nav">
				<!-- Main Nav -->
				<div id="nav-fixed">
					<div class="container">
						<!-- logo -->
						<div class="nav-logo">
							<a href="" class="logo"><img src="assets/logo.png" alt=""></a>
						</div>
						<!-- /logo -->

						<!-- nav -->
						<!-- nav -->
						<ul class="nav-menu nav">
							 <li><%= link_to 'Blog', root_path, class: "#{yield(:blog_active)}" %></li>
							<li  class="cat-1"> <%= link_to 'Hakkımda', hakkimda_path, class: "#{yield(:hakkimda_active)}" %></li>
							<li  class="cat-2"><%= link_to 'İletişim', iletisim_path, class: "nav-link #{yield(:iletisim_active)}" %></li>
						</ul>
						<!-- /nav -->

						<!-- search & aside toggle -->
							<!-- /nav -->

						<!-- search & aside toggle -->
						<div class="nav-btns">
							<button class="aside-btn"><i class="fa fa-bars"></i></button>
							<button class="search-btn"><i class="fa fa-search"></i></button>
							<div class="search-form">
								<input class="search-input" type="text" name="search" placeholder="Enter Your Search ...">
								<button class="search-close"><i class="fa fa-times"></i></button>
							</div>
						</div>
						<!-- /search & aside toggle -->
					</div>
				</div>
				<!-- /Main Nav -->
			<% if author_signed_in? %>
				<!-- Aside Nav -->
				<div id="nav-aside">
					<!-- nav -->
					<div class="section-row">
					    <%= current_author.display_name %>
						<ul class="nav-aside-menu">
							<li><%= link_to 'Gönderilerim', authors_posts_path, class:" #{yield(:author)}" %></li>
							<li><%= link_to 'Hesap', authors_account_path, class:" #{yield(:author)}" %></li>
							<li><%= link_to 'Çıkış', destroy_author_session_path, method: :delete %></li>
						</ul>
					</div>
					<!-- /nav -->

					<!-- widget posts -->

					<!-- /widget posts -->

					<!-- social links -->
				
					<!-- /social links -->

					<!-- aside nav close -->
					<button class="nav-aside-close"><i class="fa fa-times"></i></button>
					<!-- /aside nav close -->
				</div>
				<!-- Aside Nav -->
            <% end %>
			</div>
			<!-- /Nav -->
		</header>
					
   