
			<!-- Nav -->
			
				<!-- Main Nav -->
				<div id="nav-fixed">
					<div class="container">
						<!-- logo -->
						<div class="nav-logo">
						   <% if author_signed_in? %>
						   	<a href="" class="logo"><img src="../assets/logo.png" alt=""></a>
                            <% else %>
							<a href="" class="logo"><img src="assets/logo.png" alt=""></a>
						   <% end %>
						</div>
						<!-- /logo -->

						<!-- nav -->
						<!-- nav -->
						<ul class="nav-menu nav">
							 <li><%= link_to 'Blog', root_path, class: "#{yield(:blog_active)}" %></li>
							<li  class="cat-1"> <%= link_to 'Hakkımda', hakkimda_path, class: "#{yield(:hakkimda_active)}" %></li>
							<li  class="cat-2"><%= link_to 'İletişim', iletisim_path, class: "nav-link #{yield(:iletisim_active)}" %></li>
						</ul>
						<p class="navbar-text pull-right"> <% if user_signed_in? %> <strong><%= current_user.email %></strong><% else %> <%= link_to "Üye ol", new_user_registration_path, :class => 'navbar-link' %> | <%= link_to "Giriş Yap", new_user_session_path, :class => 'navbar-link' %> <% end %> </p>
						<!-- /nav -->

						<!-- search & aside toggle -->
							<!-- /nav -->

						<!-- search & aside toggle -->
						<div class="nav-btns">
							<button class="aside-btn"><i class="fa fa-bars"></i></button>

						</div>
						<!-- /search & aside toggle -->
					</div>
				</div><div style="clear:both"></div>
				<!-- /Main Nav -->
			<% if user_signed_in? %>
				<!-- Aside Nav -->
				<div id="nav-aside">
					<!-- nav -->
					<div class="section-row">
					    <%= current_user.email %>
						<ul class="nav-aside-menu">
						    	<li><%= link_to 'Profili düzenle', edit_user_registration_path, class:" #{yield(:author)}" %></li>
						    <% if  current_user.email== "neslihan.262@gmail.com" %>
							    <li><%= link_to 'Gönderilerim', authors_posts_path, class:" #{yield(:author)}" %></li>
							<% end %>

							<li><%= link_to 'Çıkış', destroy_user_session_path, method: :delete %></li>
						</ul>
					</div>
					<!-- /nav -->

					<!-- widget posts -->

					<!-- /widget posts -->

					<!-- social links -->
				
					<!-- /social links -->

					<!-- aside nav close -->
					<!-- /aside nav close -->
				</div>
				<!-- Aside Nav -->
            <% end %>
			
			<!-- /Nav -->

   